#prompts-table td {
  vertical-align: top;
}

#prompts-table .title-wrapper {
    display: flex;
    align-items: flex-start;
}

#prompts-table td:last-of-type {
    min-width: 4em;
}

#prompts-table .actions {
    padding-left: 0;
}

.block-collecting select {
    max-width: 100%;
}

.field .inputs label {
    display: flex;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=url], textarea {
    width: stretch;
}
